@* @page "/admin"
@model FelixMagnussonCvApp.Pages.AdminPageModel
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using ClassLibrary.Models;
@using ClassLibrary.Data;


<h3>Skills</h3>




@code {

	public About? newAbout = new();
	private List<About> about = new();

} *@